
<div ng-controller="AuthorListCtrl" class="author-list-ctrl">
	<h1>List of Authors</h1>
	<div class="row">
		<div class="col-xs-4">
			<h3>Authors Page: {{ currentPage }}</h3>
		</div>
		<div class="col-xs-4">
			<label for="search">Search:</label> <input ng-model="q" id="search"
				class="form-control" placeholder="Filter text">
		</div>
		<div class="col-xs-4">
			<label for="search">items per page:</label> <input type="number"
				min="1" max="100" class="form-control" ng-model="pageSize">
		</div>
	</div>
	<br>
	<div class="panel panel-default">
		<div class="panel-body">

			<table class="table">
				<thead>
					<tr>
						<th>Author First Name</th>
						<th>Author Last Name</th>
						<th>Id</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr
						dir-paginate="author in authors | filter:q | itemsPerPage: pageSize"
						current-page="currentPage">
						<td>{{author.auFname}}</td>
						<td>{{author.auLname}}</td>
						<td><a
							href="/bookstore/#/authoredit/{{author.authorId}}">{{author.authorId}}</a></td>
						<td><input type="button" ng-click="deleteent(author)" value="Delete" /></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
